In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Extract

In [2]:
prostate_csv = "Resources/Prostate_Cancer.csv"
prostate_df = pd.read_csv(prostate_csv)
prostate_df.head()

,id,diagnosis_result,radius,texture,perimeter,area,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23,12,151,954,0.143,0.278,0.242,0.079
1,2,B,9,13,133,1326,0.143,0.079,0.181,0.057
2,3,M,21,27,130,1203,0.125,0.160,0.207,0.060
3,4,M,14,16,78,386,0.070,0.284,0.260,0.097
4,5,M,9,19,135,1297,0.141,0.133,0.181,0.059

In [3]:
breast_csv = "Resources/breast_cancer.csv"
breast_df = pd.read_csv(breast_csv)
breast_df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

## Transform

In [4]:
# Remove excess/null data and rename columns
new_breast_df = breast_df[["id", "diagnosis", "radius_mean", "texture_mean", "smoothness_mean",
                   "compactness_mean", "symmetry_mean", "fractal_dimension_mean"]].copy()

new_breast_df.columns = ["id", "diagnosis", "radius", "texture", "smoothness", "compactness", "symmetry",
                     "fractal_dimension"]

new_breast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 8 columns):
id                   569 non-null int64
diagnosis            569 non-null object
radius               569 non-null float64
texture              569 non-null float64
smoothness           569 non-null float64
compactness          569 non-null float64
symmetry             569 non-null float64
fractal_dimension    569 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 35.6+ KB

In [5]:
new_prostate_df = prostate_df[['id', 'diagnosis_result', 'radius', 'texture', 'perimeter', 'area', 'smoothness', 'compactness', 'symmetry', 'fractal_dimension']].copy()
new_prostate_df.columns = ['id', 'diagnosis', 'radius', 'texture', 'perimeter', 'area', 'smoothness', 'compactness', 'symmetry', 'fractal_dimension']

new_prostate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
id                   100 non-null int64
diagnosis            100 non-null object
radius               100 non-null int64
texture              100 non-null int64
perimeter            100 non-null int64
area                 100 non-null int64
smoothness           100 non-null float64
compactness          97 non-null float64
symmetry             100 non-null float64
fractal_dimension    98 non-null float64
dtypes: float64(4), int64(5), object(1)
memory usage: 7.9+ KB

In [6]:
new_breast_df = breast_df[["id", "diagnosis", "radius_mean", "texture_mean", "smoothness_mean",
                  "compactness_mean", "symmetry_mean", "fractal_dimension_mean"]].copy()

new_breast_df.columns = ["id", "diagnosis", "radius", "texture", "smoothness", "compactness", "symmetry",
                    "fractal dimension"]
new_breast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 8 columns):
id                   569 non-null int64
diagnosis            569 non-null object
radius               569 non-null float64
texture              569 non-null float64
smoothness           569 non-null float64
compactness          569 non-null float64
symmetry             569 non-null float64
fractal dimension    569 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 35.6+ KB

In [7]:
id_list = []
diagnosis_list = []
radius_list = []
texture_list = []
smoothness_list = []
compactness_list = []
symmetry_list = []
fd_list = []

fd_mean = new_prostate_df["fractal_dimension"].mean()

for index, row in new_prostate_df.iterrows():
    if pd.isnull(row["compactness"]):
        id_list.append(row["id"])
        diagnosis_list.append(row["diagnosis"])
        radius_list.append(row["radius"])
        texture_list.append(row["texture"])
        smoothness_list.append(row["smoothness"])
        compactness_list.append(((row["perimeter"]**2) / row["area"]) - 1.0)
        symmetry_list.append(row["symmetry"])
        
        if pd.isnull(row["fractal_dimension"]):
            fd_list.append(fd_mean)
        else:
            fd_list.append(row["fractal_dimension"])
    else:
        id_list.append(row["id"])
        diagnosis_list.append(row["diagnosis"])
        radius_list.append(row["radius"])
        texture_list.append(row["texture"])
        smoothness_list.append(row["smoothness"])
        compactness_list.append(row["compactness"])
        symmetry_list.append(row["symmetry"])
        
        if pd.isnull(row["fractal_dimension"]):
            fd_list.append(fd_mean)
        else:
            fd_list.append(row["fractal_dimension"])

In [8]:
new_prostate_df = pd.DataFrame({
    "id": id_list,
    "diagnosis": diagnosis_list,
    "radius": radius_list,
    "texture": texture_list,
    "smoothness": smoothness_list,
    "compactness": compactness_list,
    "symmetry": symmetry_list,
    "fractal_dimension": fd_list
})

new_prostate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
id                   100 non-null int64
diagnosis            100 non-null object
radius               100 non-null int64
texture              100 non-null int64
smoothness           100 non-null float64
compactness          100 non-null float64
symmetry             100 non-null float64
fractal_dimension    100 non-null float64
dtypes: float64(4), int64(3), object(1)
memory usage: 6.3+ KB

# Create the connection to SQL workbench

In [11]:
connection = "root:<Saddleback1!>@localhost:3306/cancer_db"
engine = create_engine(f'mysql://{connection}')

In [12]:
engine.table_names()

[]

In [13]:
new_prostate_df.to_sql(name='prostate_cancer', con=engine, if_exists='append', index=False)

In [14]:
engine.table_names()

['prostate_cancer']

In [17]:
new_breast_df.to_sql(name='breast_cancer', con=engine, if_exists='append', index=False)

In [18]:
engine.table_names()

['breast_cancer', 'prostate_cancer']

In [16]:
new_prostate_df["fractal_dimension"].mean()

0.06481632653061226

# Load

In [19]:
pd.read_sql_query('select * from breast_cancer', con=engine).head()

,id,diagnosis,radius,texture,smoothness,compactness,symmetry,fractal dimension
0,842302,M,17.99,10.38,0.11840,0.27760,0.2419,0.07871
1,842517,M,20.57,17.77,0.08474,0.07864,0.1812,0.05667
2,84300903,M,19.69,21.25,0.10960,0.15990,0.2069,0.05999
3,84348301,M,11.42,20.38,0.14250,0.28390,0.2597,0.09744
4,84358402,M,20.29,14.34,0.10030,0.13280,0.1809,0.05883

In [20]:
pd.read_sql_query('select * from prostate_cancer', con=engine).head()

,id,diagnosis,radius,texture,smoothness,compactness,symmetry,fractal_dimension
0,1,M,23,12,0.143,0.278,0.242,0.079
1,2,B,9,13,0.143,0.079,0.181,0.057
2,3,M,21,27,0.125,0.160,0.207,0.060
3,4,M,14,16,0.070,0.284,0.260,0.097
4,5,M,9,19,0.141,0.133,0.181,0.059

In [22]:
pd.read_sql_query('select * from cancer_tb', con=engine).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 8 columns):
id                   669 non-null int64
diagnosis            669 non-null object
radius               669 non-null float64
texture              669 non-null float64
smoothness           669 non-null float64
compactness          669 non-null float64
symmetry             669 non-null float64
fractal dimension    669 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 41.9+ KB